.chat-board {
  width: 99%;
  height: 400px;

  background: #1f3d2b;
  border: 12px solid #6b4a2b;
  border-radius: 6px;
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    0 8px 20px rgba(0,0,0,0.3);

  padding: 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

}

.user-message {
  align-self: flex-end;
  background-color: #cce5ff;
  padding: 8px;
  border-radius: 8px;
  max-width: 70%;
}

.ai-message {
  align-self: flex-start;
  background-color: #e6e6e6;
  padding: 8px;
  border-radius: 8px;
  max-width: 70%;
}
.user-message,
.ai-message {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
}
