.character-container {
  min-width: 320px;
  height: 400px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-avatar {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #ddd;
  border: 4px solid #6b4a2b;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 80px;
}

.character-name {
  margin-top: 10px;
  font-weight: bold;
  color: black;
}